@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquare Neo';
  src: url('/fonts/NanumSquareNeoOTF-Lt.otf') format('opentype');
  font-weight: 350;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf')
      format('truetype');
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #010101;
  color: #ffffff;
  font-family: Inter;
}

*,
::before,
::after {
  border-width: 0;
}

::-webkit-scrollbar {
  width: 4px; /* 스크롤바의 너비 */
}
::-webkit-scrollbar-thumb {
  height: 57.29px; /* 스크롤바의 길이 */
  background: #5e6166; /* 스크롤바의 색상 */
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /*스크롤바 뒷 배경 색상*/
}

.text-linear {
  background: linear-gradient(180deg, #e6e8ec 23.4%, #c1c5ce 77.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-linear-gradient {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.4) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* flex */
.flex-2 {
  flex-grow: 2;
}
.flex-3 {
  flex-grow: 3;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/*  모달 애니메이션 */
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogOverlayAnimation {
  animation: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}
.dialogContentAnimation {
  animation: contentShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
